<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PYDraggable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFF9D6D91E77E59100664B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFF9D6F21E77E59100664B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFF9D6FD1E77E59100664B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
